<!DOCTYPE html>
<html ng-app>
<head>
  <meta charset="utf-8"/>
  <link rel='stylesheet' href="../foundation.css">
  <script src="../angular.js"></script>
  <script src="twitter.js"></script>
</head>
<body>
<div ng-controller="TwitterController">
  <form ng-submit='performSearch()'>
    <input ng-model="searchTerm">
    <input ng-model="filterTerm">
    <button type="submit">Go!</button>
  </form>
  <table>
    <tr ng-repeat='result in data.results | filter:filterTerm'>
      <td>{{ result.from_user }}</td>
      <td>{{ result.text }}</td>
      <td>{{ result.created_at }}</td>
    </tr>
  </table>
</div>
</body>
</html>
