<!DOCTYPE html>
<html ng-app='twitterFilters'>
  <head>
    <meta charset="utf-8" />
    <link rel='stylesheet' href="../foundation.css">
    <script src="../angular.js"></script>
    <script src="twitter-filters.js"></script>
  </head>
  <body>
    <div ng-controller="TwitterController">
      <form ng-submit='search()'>
        <label>Search for something:</label>
        <input ng-model="searchTerm">
        <button type="submit" class='cta-button'>Go!</button>
      </form>
      <label>Filter By:</label><input ng-model="filterText">
      <table ng-show='results'>
        <tr ng-repeat='result in results | filter:filterText'>
          <td>{{ result.created_at | timeAgo | number:1 }} minutes ago.</td>
          <td>@{{ result.from_user | uppercase }}</td>
          <td>{{ result.text }}</td>
        </tr>
      </table>
    </div>
  </body>
</html>
