#SalaryAmount {
    border: 0;
    font-size: 16px;
    width: 270px;
    color: #ED2994;
    text-align: center;
    background: 0;
    -webkit-appearance: caret;
    margin: 15px auto 10px;
    display: block
}

.ui-corner-all {
-moz-border-radius: .6em;
-webkit-border-radius: .6em;
border-radius: .6em;
}

a.ui-slider-handle {
    position: absolute;
    z-index: 10;
    top: 50%;
    width: 28px;
    height: 28px;
    margin-top: -15px;
    margin-left: -15px;
}

.ui-slider {
    display: block !important;
    width: auto !important;
    height: 14px !important;
    position: relative !important;
    margin: 0 0 20px !important;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: -moz-linear-gradient(-90deg, #c2d9f1 0, #e5eff9 60%, #d4e4f5 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#c2d9f1), to(#d4e4f5), color-stop(0.6, #e5eff9))
}

.ui-slider .ui-slider-handle {
    background: url('http://m.seek.com.au/content/mobile/webkit/images/global_sprite.png') no-repeat;
    width: 39px;
    height: 46px;
    position: absolute;
    top: -15px;
    cursor: default;
    margin-top: 0;
    background-position: 0 -168px
}

.ui-slider .ui-slider-range {
    position: absolute;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;
    top: 0;
    height: 100%
}

.ui-widget-header {
    background: #3d7cd9;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#b4ccf0), to(#2e5ea5), color-stop(0.5, #3d7cd9));
    background: -webkit-linear-gradient(#b4ccf0 0, #3d7cd9 50%, #2e5ea5 100%);
    background: -moz-linear-gradient(#b4ccf0 0, #3d7cd9 50%, #2e5ea5 100%);
    background: -ms-linear-gradient(#b4ccf0 0, #3d7cd9 50%, #2e5ea5 100%);
    background: -o-linear-gradient(#b4ccf0 0, #3d7cd9 50%, #2e5ea5 100%);
    background: linear-gradient(#b4ccf0 0, #3d7cd9 50%, #2e5ea5 100%);
    -pie-background: linear-gradient(#b4ccf0 0, #3d7cd9 50%, #2e5ea5 100%)
}


.slider-marker {
    margin: 0 13px;
    background-position: 0 -874px;
    background-repeat: repeat-x
}
