.tiles img {
    width: 80px;
    max-height: 80px;
}

html, body {
    height: 100%;
}

body {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    background-color: black;
}

#stage {
    height: 400px;
    width: 400px;
    background-color: #999;
    background-size: cover;
    box-shadow: 0 0 200px 20px rgba(255,255,255,0.5);
    overflow: hidden;
}

header {
    top: 0;
    width: 100%;
    text-align: center;
    color: white;
    padding: 20px;
    left: 0;
    position: fixed;
    font-size: 24px;
    background-color: #777;
}
