<html ng-app="GithubBrowser">
<head>
  <title>Angular FTW</title>
  <link rel="stylesheet" href="pure-min.css"/>
  <link rel="stylesheet" href="app.css"/>
</head>
<body ng-controller="BodyController">

<h1>Welcome to Angular FTW<span ng-show='me.name'>, {{ me.name }}</span></h1>

<form class="pure-form" ng-controller="FormController">
  <label>
    What is your name?
    <input type="text" ng-model="me.name"/>
  </label>
  <button class="pure-button pure-button-primary" ng-click="reset()">Reset</button>
</form>

<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="scripts/app.js"></script>
<script type="text/javascript" src="scripts/body_controller.js"></script>
<script type="text/javascript" src="scripts/form_controller.js"></script>
</body>
</html>
