<!DOCTYPE html>
<html ng-app>
  <head>
    <meta charset="utf-8" />
    <link rel='stylesheet' href="../foundation.css">
    <script src="../angular.js"></script>
    <script src="tabs.js"></script>
  </head>
  <body ng-controller="TabController">

  <dl class="tabs">
    <dd ng-class='activeTab(1)'><a ng-click='switchToTab(1)'>Simple Tab 1</a></dd>
    <dd ng-class='activeTab(2)'><a ng-click='switchToTab(2)'>Simple Tab 2</a></dd>
    <dd ng-class='activeTab(3)'><a ng-click='switchToTab(3)'>Simple Tab 3</a></dd>
  </dl>
  <ul class="contained">
    <li ng-show='activeTab(1).active'>This is simple tab 1s content. Pretty neat, huh?</li>
    <li ng-show='activeTab(2).active'>This is simple tab 2s content. Now you see it!</li>
    <li ng-show='activeTab(3).active'>This is simple tab 3s content.</li>
  </ul>

  </body>
</html>
