<div id="stage">
<slide><h1>BE A SUPERHERO</h1>

  <p class="sub">with</p><img src="http://angularjs.org/img/AngularJS-large.png">
  <footer class="profile"><p class="sub">by</p>

    <div class="image"></div>
    <p>Glen Maddern</p><a href="http://twitter.com/glenmaddern">@glenmaddern</a> |<a href="http://goodfil.ms">
      http://goodfil.ms</a> |<a href="mailto://glen@goodfil.ms"> glen@goodfil.ms</a></footer>
</slide>
<slide><h1>Angular</h1>

  <p class="sub">is</p>
  <ul>
    <li step="1">a<strong> framework</strong> for building web applications</li>
    <li step="2">an<strong> extension</strong> to HTML and browsers</li>
    <li step="3">at<strong> v1.0.3</strong>, backed by Google</li>
    <li step="4">an<strong> alternative</strong> to Backbone/Ember</li>
    <li step="5">an<strong> alternative</strong> to jQuery</li>
  </ul>
  <footer>(press ⬇)</footer>
</slide>
<slide><h1>Score card</h1>

  <p class="sub">warning: opinions!</p>
  <table>
    <thead>
    <tr>
      <td></td>
      <td><strong>Solves</strong><span class="nowrap">a problem well</span></td>
      <td><strong>Fast</strong><span class="nowrap">for small sites</span></td>
      <td><strong>Maintainable</strong><span class="nowrap">for large sites</span></td>
    </tr>
    </thead>
    <tbody>
    <tr step="1">
      <td>jQuery</td>
      <td>✔</td>
      <td>✔</td>
      <td>✖</td>
    </tr>
    <tr step="2">
      <td>GWT</td>
      <td>✖</td>
      <td>✖</td>
      <td>?</td>
    </tr>
    <tr step="3">
      <td>BackboneJS</td>
      <td>?</td>
      <td>✖</td>
      <td>✖</td>
    </tr>
    <tr step="4">
      <td>EmberJS</td>
      <td>?</td>
      <td>✖</td>
      <td>✔</td>
    </tr>
    <tr step="5">
      <td>AngularJS</td>
      <td>✔</td>
      <td>✔</td>
      <td>✔</td>
    </tr>
    </tbody>
  </table>
</slide>
<slide><h1>Learning Angular</h1>

  <p class="sub">has 3 phases</p></slide>
<slide><img
        src="http://2.bp.blogspot.com/-q5aZsORjuwY/T1cJj5FZWWI/AAAAAAAAAOw/EkdsgmMb1FA/s1600/tumblr_lw4m1p8G5J1qzzh6g.jpg"
        class="big">

  <h1>WHOA</h1></slide>
<slide><img src="http://www.thinkgeek.com/images/blog/khaaaan.jpg" class="big">

  <h1>ANGULAAARRRR</h1></slide>
<slide><img
        src="http://media.npr.org/assets/img/2012/11/20/macklemore-thrift-shop-still_wide-7d4092008474938959d2a80d3216271a0a15e65c-s6-c10.jpg"
        class="big">

  <h1>AWW HELL YEAH</h1></slide>
<slide><h1>OK</h1></slide>
<slide><h1>Angular</h1>
  <ul>
    <li>
      <div step="1" class="status">✔</div>
      <strong>solves</strong> a problem well
    </li>
    <li>
      <div step="1" class="status">✔</div>
      is<strong> fast</strong> for small apps
    </li>
    <li>
      <div step="1" class="status">✖</div>
      is<strong> maintainable</strong> for large apps
    </li>
  </ul>
  <footer step="1">...but I can only talk about the first two today</footer>
</slide>
<slide><h1>Components</h1>
  <ul>
    <li>
      <div step="1" class="status">✔</div>
      <strong>HTML</strong> is your templating language
    </li>
    <li>
      <div step="1" class="status">✔</div>
      <strong>Two-way data binding</strong> updates the DOM
    </li>
    <li>
      <div step="1" class="status">✖</div>
      <strong>Directives</strong> define reusable components of behaviour
    </li>
    <li>
      <div step="1" class="status">✔</div>
      <strong>Controllers</strong> don't touch the DOM
    </li>
    <li>
      <div step="1" class="status">✖</div>
      <strong>Services</strong> help structure your app
    </li>
    <li>
      <div step="1" class="status">✔</div>
      <strong>Dependency injection</strong> wires it all together
    </li>
  </ul>
  <footer step="1">...maybe next time?</footer>
</slide>
<slide><h1>NO JS NO PROBLEMS</h1>

  <p class="sub">This is a whole app!</p>
  <snippet lang="html" file="examples/1.html"></snippet>
  <iframe src="examples/1.html" step="1"></iframe>
</slide>
<slide><h1>Data binding</h1>

  <p class="sub">Still no code!</p>
  <snippet lang="html" file="examples/2.html"></snippet>
  <iframe src="examples/2.html" step="1"></iframe>
</slide>
<slide><h2>Controllers</h2>

  <p class="sub">finally, some code!</p>
  <ul>
    <li>Attached to certain sections of the DOM</li>
    <li><code>function($scope, ...) { ... }</code></li>
    <li>Should <strong>NEVER</strong> touch the DOM</li>
    <li>Instead, it sets values/methods on <code>$scope</code></li>
  </ul>
</slide>
<slide>
  <snippet lang="html" file="examples/3.html"></snippet>
  <iframe src="examples/3.html" step="1"></iframe>
</slide>
<slide><h2>$scope</h2>
  <ul>
    <li>This is a view-model</li>
    <li>It's a plain-old-javascript-object</li>
    <li>Change it and the DOM changes, like<strong> magic</strong><sup>*</sup></li>
  </ul>
  <footer>* causes 90% of the 'WHOA' and 'ANGULAAARRRR' stages</footer>
</slide>
<slide><h1>Structure</h1><img src="/images/angularjs-structure.png" class="poster"></slide>
<slide><h1>DEMO</h1></slide>
<slide><h1>Go be superheroes!</h1>
  <ul>
    <li>Read more at<a href="http://angularjs.org/"> http://angularjs.org/</a><br>do the<a
            href="http://docs.angularjs.org/tutorial/"> tutorial</a>, keep the<a
            href="http://docs.angularjs.org/api/"> api reference</a> bookmarked.
    </li>
    <li>Watch the introductory and advanced videos on the<br><a
            href="http://www.youtube.com/user/angularjs/videos?view=0">Youtube channel</a>.
    </li>
    <li>Check out<a href="https://github.com/geelen/melbjs-demo"> the code from tonight's demo</a> or<br><a
            href="https://github.com/geelen/melbjs-preso"> the code from these slides</a> (more advanced)
    </li>
    <li>Hit me up on Twitter if you have questions.</li>
  </ul>
</slide>
<slide><h1>Thank you!</h1>

  <div class="profile"><p class="sub">I have been:</p>

    <div class="image"></div>
    <p>Glen Maddern</p><a href="http://twitter.com/glenmaddern">@glenmaddern
      |</a><a href="http://goodfil.ms"> http://goodfil.ms
      |</a><a href="mailto://glen@goodfil.ms"> glen@goodfil.ms</a></div>
  <p class="one-more-thing">

  <p class="sub">also!</p>

  <p>I am running a<strong> half-day AngularJS workshop</strong><br>here in Melbourne on Saturday,<strong> 9th
    Feb</strong></p>

  <p>It will cost<strong> $300</strong></p>

  <p>Which is a<strong> bargain</strong> because you will learn<strong> heaps</strong></p>

  <p>Register at<a href="http://angularftw.com/" target="_blank"> angularftw.com</a></p>
</slide>
</div>
