<html ng-app>
  <head>
    <script src="../angular.js"></script>
  </head>
  <body ng-controller="BodyController">
    <input ng-model='model.name' size='20'>
    <p>Hi there, {{model.name}}</p>
    <div ng-controller="DivController">
      <a ng-click="resetName()">Reset this name.</a>
    </div>

    <script>
      var BodyController = function($scope) {
        $scope.model = {};
        $scope.model.name = "Mr Manager";
      };

      var DivController = function ($scope) {
        $scope.resetName = function () {
          $scope.model.name = '';
        }
      }
    </script>
  </body>
</html>
